# --- Archivos del Sistema ---
.DS_Store
Thumbs.db
desktop.ini

# --- Logs y Temporales ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/

# --- Carpetas de Dependencias (MUY IMPORTANTE) ---
node_modules/
bower_components/
env/
venv/
.venv/
bin/
obj/

# --- Secretos y Variables de Entorno ---
.env
.env.local
*.pem
*.key

# --- Archivos de Editores ---
.vscode/
.idea/
*.swp
